a { cursor: pointer; text-decoration: none; color: #aac }
a:hover { color: #99f }
#links { font-size: 18px;background:#111; }
#links a { display: inline-block; padding: 0.5rem 1rem }
#links a.active { background: rgba(170,170,204,.5); color: #fff }
#links a:hover { background: #aac; color: #000 }
body { font-size:0; margin: 0; padding: 0; background: #112; }
video,img { vertical-align: top; width: 33% }
div.wrap { width: 92% }
div.inner {height:40vh; overflow-y:hidden; background: #000; }
div.inner.all {height:90vh;overflow-y:auto }
.all video, .all img { width: 33.3%; }
span { text-indent: .5rem; font-family:sans;font-size: 20px; color: #aaa;background:#222;padding:0.5rem; display: block }
.show img, .show video {visibility: visible }
#paging {
  color: white;
  font-size: 24px;
  text-align: right;
}
#paging a {
  background:  rgba(170,170,204,.5);
  text-align: center;
  color: white;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 0 1rem;
  width: auto;
}
form {
  display: inline-block;
}
button,input {
  font-size: 16px;
  padding: 4px;
  border-radius: 5px;
  background: black;
  border: 1px solid rgba(170,170,204,.5);
  color: #aac;
}
.matches p{
  margin: 0.5rem 1rem;
  font-family: sans;

  font-size: 20px;
  color: #aaa;
}
a.profile-link { font-size:16px }


@media only screen and (max-width: 768px){
  video, img { width: 50%; }
  div.inner * { display: none }
  div.inner *:nth-of-type(1),
  div.inner *:nth-of-type(2)
  { display: inline-block; }
  div.inner.all a { display: inline };
  div.inner {height:40vh }
}
